<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.completeconceptstrength" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".LaunchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.completeconceptstrength.LaunchActivity" />
        </activity>
        <activity
            android:name=".CoachHomeActivity"
            android:label="@string/title_activity_coach_home"
            android:parentActivityName=".LaunchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.completeconceptstrength.LaunchActivity" />
        </activity>
    </application>

</manifest>
